.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.blue-orb {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    width:5em;
    height: 5em
  }

  50% {
    width: 10em;
    height: 10em;
    box-shadow:
      0 0 140px 90px #0ff inset;
  }
}

.purple-orb {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  animation-name: example-2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example-2 {
  0% {
    width:5em;
    height: 5em
  }

  50% {
    width: 7em;
    height: 7em;
    box-shadow:
      0 0 140px 90px rgb(174, 0, 255);
  }
}

.orange-orb {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  animation-name: example-3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example-3 {
  0% {
    width:7em;
    height: 7em
  }

  50% {
    width: 6em;
    height:6em;
    box-shadow:
      0 0 140px 90px rgb(255, 102, 0) inset;
  }
}

.yellow-orb {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  animation-name: example-4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example-4 {
  0% {
    width:6em;
    height: 6em
  }

  50% {
    width: 4em;
    height:4em;
    box-shadow:
      0 0 140px 90px rgb(253, 250, 54) inset;
  }
}

.indigo-orb {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation-name: example-5;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example-5 {
  0% {
    width:2em;
    height: 2em
  }

  50% {
    width: 6em;
    height: 6em;
    box-shadow:
      0 0 140px 90px #000080;
  }
}

.green-orb {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  animation-name: example-6;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes example-6 {
  0% {
    width:3em;
    height: 3em
  }

  50% {
    width: 4.5em;
    height: 4.5em;
    box-shadow:
      0 0 140px 90px #0bc93a inset;
  }
}

.red-orb {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  animation-name: example-7;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes example-7 {
  0% {
    width:4em;
    height: 4em
  }

  50% {
    width: 2em;
    height: 2em;
    box-shadow:
      0 0 140px 90px #e62a2a inset;
  }
}


